# Python cache files
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment files
.env

# Logs and databases
*.log
*.sqlite

# Model artifacts
*.pkl
*.h5
*.joblib

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
