# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Bytecode & temp files
*.swp
*.swo
*.tmp

# ------------------------
# Virtual Environments
# ------------------------
.venv/
venv/
env/

# ------------------------
# ML Artifacts & Models
# ------------------------
artifacts/
models/
*.pkl
*.joblib
*.onnx
*.h5

# MLflow tracking directory
mlruns/

# CatBoost logs
catboost_info/

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# IDE/Editor
# ------------------------
.vscode/
.idea/

# ------------------------
# System / OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log
logs/
